:root{
    --cs_black: black;
    --cs_red: #9d1917;
    --cs_grey: #dfdfdf;
}
body{
    font-family: 'Nanum Myeongjo', serif;
    font-style: italic;
    font-weight: 900;
    background-color: var(--cs_grey);
    color: var(--cs_black);
}
.cs_text_grey{
    color: var(--cs_grey);
}
.cs_bg_grey{
    background-color: var(--cs_grey);
}
.cs_bg_red{
    background-color: var(--cs_red);
}
.cs_text_red{
    color: var(--cs_red);
}
.cs_text_black{
    color: var(--cs_black);
}
/* section */
section{
    padding: 2.5rem 0;
    line-height: 1.5rem;
}
/* Definizione Font */
h1{
    font-size: 2rem;
    font-weight: 900;
}
p{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.cs_font_2{
    font-size: 1.2rem;
}
.cs_description{
    font-size: 1.1rem;
}
.cs_price:after{
    content: '\20AC';
    font-size: 1rem;
}
/* hamburger menu */
#menu_list{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    text-align: end;
}
.cs_bar {
    display: inline-block;
    background-color: var(--cs_grey);
    border: 2px solid var(--cs_red);
    height: 100%;
    padding: 0 20px;
    border-radius: 10px;
    color: var(--cs_red);
    font-size: 3rem;
}
.hamburger-menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;
    background-color: var(--cs_grey);
    border-radius: 0 0 0 15px;
    box-shadow: -5px 7px 15px #a1a1a1;
}
.hamburger-show{
    animation: show-up 0.4s linear;
}
@keyframes show-up{
    from {
        right: -250px;
    }
    to {
        right: 0;
    }
}
.cs_active{
    visibility: visible;
}
.hamburger-menu ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    text-align: start;
}
.hamburger-menu ul li a {
    color: var(--cs_red);
    text-decoration: none;
    font-size: 1.5rem;
}
.close {
    position: absolute;
    right: 15px;
    top: 0;
    color: var(--cs_red);
    font-size: 3rem;
}
/* logo page */
#cs_first{
    position: relative;
    background: linear-gradient(90deg, rgb(223 223 223) 50%,  rgba(157,25,23) 50%);
    height: 100vh;
}
#cs_first h1{
    position: absolute;
    bottom: 140px;
    right: -100px;
    -ms-transform: rotate(270deg); 
    transform: rotate(270deg);
    margin: 0;
    font-size: 10rem;
}
.img_wrapper{
    width: 50%;
    position: absolute;
    bottom: 0;
}
.img_wrapper img{
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#drink{
    background: rgb(223 223 223);
    background: linear-gradient(90deg, rgb(223 223 223) 50%, rgba(157,25,23) 50%);
}
#cocktail .title{
    background: -webkit-linear-gradient(90deg, black 50%, rgba(157,25,23) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#avvertenze{
    margin-top: 50px;
}
#avvertenze h6{
    font-weight: 900;
}
#avvertenze p{
    font-size: 0.9rem;
}
#avvertenze>div{
    width: 80%;
    border-radius: 20px;
    padding: 5px;
}
.debug{
    padding: 20px;
    border: 1px solid black;
}